*{
    padding: 0;
    margin: 0;
}
.firstDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    background-image: linear-gradient(to right, #ebbebe, #dc68c3);

}
.iconsDiv{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}
.sencondDiv{
    display: flex;
    align-items: center;
    gap: 10px;
}
#phIcon {
    color: white;
}
.ph{
    color: white;
}
.reqbtn{
    padding: 12px 20px;
    border-radius: 22px 22px 20px 20px;
    outline: none;
    border: 2px solid white;
    background: #dc68c3;
    color: white;
}
.thirdDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ulDiv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ulDiv li{
    list-style-type: none;
}
.ulDiv li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.logoDiv img{
    width: 200px;
}
#seachIcn{
    background: #000;
    color: white;
    padding: 33px 8px;
    /* margin-top: 20px; */
}
.buyNowLink{
    background: #ebbebe;
    padding: 30px 10px;
}
.divFour{
    height: 700px;
    width: 100%;
    background-image: url(./images/deal2ndImg.jpeg);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    opacity: 0.5;
}
.divForLine{
    position: absolute;
    left: 20%;
    top: 35%;
    height: 300px;
    width: 5px;
    background: #000;
}
.wearecrtv{
    position: absolute;
    left: 21%;
    top: 36%;
    color: white;
    letter-spacing: 20px;
    font-weight: 900;
    font-size: 20px;
}
.cdapara1{
    position: absolute;
    left: 21%;
    top: 41%;
    color: white;
    font-weight: 900;
    font-size: 25px;
}